@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #234691;
    --secondary-color: #4B56D2;
    --accent-color: #82C3EC;
    --white-color: #F1F6F5;
}

/* --main-color: #570A57;
--secondary-color: #A91079;
--accent-color: #F806CC;
--white-color: #ffff; */
.main-container {
    background-image: url(../assets/imgs/light-bg.png);
    background-position: center;
    background-size: cover;
    font-family: 'Caveat', cursive;
    color: #ffff;
    overflow-y: scroll;
    height: 100vh;
}

.division {
    width: 90%;
    margin: auto;
    height: 3px;
    background-color: var(--main-color);
    margin-bottom: 1rem;
}

hr {
    width: 95%;
    margin: 1rem auto;
}

.main-color {
    color: var(--main-color);
}

.secondary.color {
    color: var(--secondary-color);
}

.accent-color {
    color: var(--accent-color);
}

.white-color {
    color: #ffff;
}