.search-field {
    position: relative;
}

.search-field input[type="search"] {
    padding: .5rem;
    border-radius: 20px;
    font-family: 'Caveat', coursive;
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
    border: none;
    box-shadow: inset 0 4px 9px var(--main-color);
    transition: .3s ease-in;
}

.search-field input:focus {
    outline: solid var(--accent-color);
    transition: .3s ease-in;
}

.search-field svg {
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (min-width: 1024px) {
    .search-field {
        margin-right: 6rem;
    }

    .search-field input[type="search"] {
        padding: .5rem;
        font-family: 'Caveat', coursive;
        font-weight: 600;
        text-align: center;
        font-size: 2rem;
        width: 110%;
    }

    .search-field svg {
        position: absolute;
        left: 90%;
        top: 50%;
        transform: translateY(-50%);
    }
}