.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.top-bar a {
    display: flex;
    align-items: center;
    font-size: 2rem;
    text-decoration: none;
}

@media screen and (min-width:1024px) {
    .top-bar a>span {
        font-size: 3rem;
    }

    .top-bar .logo svg {
        transform: scale(1.5);
    }
}